#content 
{
	position:absolute;
	width:80%;
	left:10%;
	right:10%;
	text-align:left;
}

#navbar 
{
	position:absolute;
	width:200px;
	height:100%;
	top:225px;
        left:0px;
        text-align: center;
}

#banner 
{
	position:absolute;
	width:100%;
        height: 230px;
	text-align:center;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	top:0px;
}


#desc 
{
	position:relative;
	padding-left:2%;
	padding-right:2%;
	padding-top:30px;
	margin-top:0px;
	top:230px;
        height: 100%;
        text-align: center;
        left: 200px;
        width: 78.75%;
}

#banner img {
	border:0;
        height: 180px;
        width: 100%;
}
img {
	margin:auto;
        max-height: 300px;
}

a.nav, a.open_nav {
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-top:25px;
        padding-left:20px;
        padding-right:20px;
	width:80px;
}
#base{
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
#header {
     padding: 5px 5px 5px 20px;
     text-align: left;
}
#caption {
     position:relative;
     padding-top:10px;
     height:30px;
}
#imageDiv {
     position:relative;
     height:300px;
     padding-top: 20px;
     padding-bottom:20px;
}
#buttons {
     padding: 5px 10px 5px 10px;
     position:relative;
}
#previous, #next{
    width: 2em;
}
#playpause{
    width:3em;
}
img{
    margin:auto;
    max-height: 300px;
}

