
body {
	background-color:  lightsteelblue;
	font-family: 'Bitter', serif;
}
p,li{
	font-size:13pt;
}

h1,h2,h3,h4,h5,h6 {
	color:#003399
}

#navbar {
        background-color: slategrey;
	margin-top:5px;
        
}

#banner {
	font-size:24pt;
	color: firebrick;
	background-color: peachpuff;
}

#desc {
	background-color: whitesmoke;
	color:#000000;
}

a.nav {
	color:#ffffff;
	font-size:12pt;
	font-weight:normal;
}

a.open_nav {
	color:#ffffff;
	font-size:18pt;
	font-weight:bold;
}

hr {
	color:#111155;
}

a.open_nav:hover {

}

a.nav:hover{
	color:rgb(118,143,165);
}

a:hover {
	color:rgb(118,143,165);
}

a {
	text-decoration:none;
	color:#006633;
	font-weight:bold;
}
#base{
    background-color:#00FFCC;
    border-color: firebrick;
    
}
#header {
     font-family: 'Brush Script MT', cursive;
     background-color:#66CCCC;
     border-color: rgb(50, 5, 5);
     font-size: 250%;
}
#caption {
     background-color:#00CC99;
     border-color: rgb(70, 5, 5);
     font-size: 100%;
     font-family: "Lucida Sans Unicode", sans-serif;
}
#imageDiv {
     background-color: #00FFCC;
     border-color: rgb(70, 5, 55);
}
#buttons, #previous, #next, #playpause{
    background-color: #00CCCC;
}
