/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2015, 10:00:58 PM
    Author     : Wilson
*/
.root{
    -fx-background-color: #FFF373;
}
.lang_prompt, .lang_combo_box, .lang_ok_button,
.title_prompt, .title_text_field,
.caption_prompt, .caption_text_field {
    -fx-font-family:sans-serif;    
}
.lang_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.lang_combo_box {
    -fx-font-size: 14pt;
    -fx-background-color: #A69800;
}

.lang_ok_button {
    -fx-font-size: 14pt;
    -fx-background-color: #A69800;
    -fx-border-radius: 4 4 4 4;
    -fx-spacing: 10px;
}
.dialogpane {
    -fx-background-color: #FFF373;
    -fx-alignment:CENTER;
    -fx-spacing:15;
    -fx-padding: 10 50 10 50;
}

// TOOLBAR CONTROLS
.horizontal_toolbar_pane, .vertical_toolbar_pane {
    -fx-background-color: #A69800;    
    -fx-padding:5;
}

.horizontal_toolbar_pane {
    -fx-hgap:5;
    -fx-padding: 10 0 10 0;
}

.vertical_toolbar_pane {
    -fx-alignment: center;
    -fx-orientation: vertical;
    -fx-vgap:20;
    //-fx-fit-to-height:true;
    //-fx-padding: 100 0 100 0; 
    //-fx-max-height: 500%; 
    //-fx-fit-to-height:true;
    //-fx-fill-height:true;
}

.vertical_toolbar_button {
    -fx-background-color: #FFF373;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-background-color: #FFF373;
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}

// WORKSPACE AND IT'S CONTAINERS
.wholespace{
    -fx-max-height:100%;
}
.workspace {
    -fx-background-color: #FFF373;
    -fx-fill-height: true;
}

.slides_editor_pane>.viewport{
    -fx-background-color: #FFF373;
}
.slides_editor_pane{
    -fx-background-color: #FFF373;
    -fx-padding: 20;  
}
.pages >.viewport{
    -fx-background-color: #FFF373;
}
.pages{
    -fx-background-color: #FFF373;
    -fx-padding: 0 55 0 95;
}

.workspacemode{
    -fx-alignment: TOP_CENTER;
    -fx-padding: 10 20 0 20;
}
.pageEditHBox{
    -fx-alignment:center;
    -fx-spacing:0;
    //-fx-hgap:30;
}
.pageEditVBox{
    -fx-border-color: black;
    -fx-border-width:2;
    -fx-alignment: TOP_CENTER;
    -fx-orientation: vertical;
    -fx-padding: 10;
}
.pageEditToolbar{
    -fx-border-color: black;
    -fx-border-width:2;
    -fx-alignment: CENTER;
    -fx-orientation: vertical;
    -fx-padding: 0 50 150 50;
}
.pageview{
    -fx-background-color: #C89E00;
    -fx-border-color: black;
    -fx-padding: 10 20 10 20;
    -fx-border-width: 5;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-max-width: 130;
    -fx-min-width: 130;
}
.componentview{
    -fx-background-color: #C89E00;
    -fx-border-color: black;
    -fx-padding: 10 20 10 20;
    -fx-border-width: 5;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-max-width: 500;
    -fx-min-width:500;
    -fx-font-size: 12pt;
}
.slide_edit_view, .selected_slide_edit_view {
    -fx-border-width: 5;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
}

.slide_edit_view {
    -fx-background-color: #C89E00;
    -fx-border-color: black;
}
.selected_item{
    -fx-background-color:  #C89E00;
    -fx-border-color: black;
    -fx-padding: 2 5 2 5;
}
.selected_slide_edit_view {
    -fx-background-color: #FFDC73;
    -fx-border-color: #BFB330;
}

// SLIDE EDIT CONTROLS
.title_pane {   
    -fx-hgap:10;
    -fx-vgap:10;
    -fx-padding: 0 0 20 0;
}

.title_prompt {
    -fx-font: 18pt bold;
}

.title_text_field {
    -fx-font: 16pt normal;
    -fx-background-color: #C89E00;
    -fx-min-width:300px;
}

.caption_prompt {
    -fx-font-size: 16pt;
    -fx-padding: 5 5 5 20;
}

.caption_text_field {
    -fx-font-size: 14pt;
    -fx-background-color: #FFF373; 
    -fx-min-width:600px;
    -fx-padding: 5 5 5 20;
}
.scrollpane >.viewport{
    -fx-background-color: #FFF373;
}
.scrollpane{
    -fx-background-color: #FFF373;
}
